.banner{
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-auto-columns: minmax(94px, auto);
    background-color: gainsboro;
}
.banner img{
    width: 168px;
    height: 124px;
}
.banner h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 5em;
    margin: 0;
    padding-left: .5em;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap:1em;
}
.main{
    background-color: burlywood;
    padding: 1em;
    display: grid;
    grid-auto-columns: 4fr 1fr;
}
.tool{
    background-color:darkorange;
    padding: 1em;
}