body{
    background-color: rgb(102, 114, 124);
}
.banner{
    display: grid; /*intialize grid for elements in class*/
    grid-template-columns: 6fr 1fr; /*fr is 'fractions' and shows much space*/
    grid-auto-columns: minmax(94px, auto); /*gives min/max height*/
    align-items: end; /*begins items at the bottom of grid track*/
    background-color: rgb(231, 219, 197);
    border-radius: 1.5em 1.5em 0 0; /*selectively rounded corners --> T, R, B, L*/
}
.banner img{
    width: 168px;
    height: 120px;
}
.banner h1{
    font-family: Kumbh Sans, sans-serif;
    font-weight: bold;
    font-size: 5em;
    margin: 0;
    padding-left: .5em;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap:1em;
}
.main{
    font-family: Open Sans, sans-serif;
    background-color: burlywood;
    padding: 1em;
    border-radius: 0 0 1.5em 0;
}
.main img{
    float: right;
    border: .5em solid rgb(231, 219, 197);
    margin-left: .5em;
}
.tool{
    font-family: Kumbh Sans, sans-serif;
    background-color:rgb(224, 74, 28);
    color: rgb(231, 219, 197);
    padding: 1em;
    border-radius: 0 0 0 1.5em;
}
.tool label{
    text-decoration: underline;
    text-align: center;
    font-size: 1.2em;
}
.tool ul{
    padding-left: 1em;
    font-family: Open Sans, sans-serif;
}
.tool li{
    transition: .3s;
}
.tool li:hover{
    color: white;
    font-size: 1.2em;
    transform: translateX(20%);
    opacity: 85%;
}
.tool blockquote{
    margin: 0;
    margin-bottom: 1em;
    border: .3em dashed rgb(13, 58, 88);
    padding: .2em;
}
.signup label{
    font-size: 1em;
}
.signup button{
    margin-top: .5em;
    cursor: pointer;
}
.foot{
    font-family: Kumbh Sans, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.foot a{
    background-color: rgb(224, 74, 28);
    padding: .5em;
    font-size: 1.2em;
    cursor: pointer;
}
.footbridge{
    font-size: 1.5em;
    color: rgb(231, 219, 197);
    background-color: rgb(13, 58, 88);
    grid-column: 1/5; /*says that the footbridge track will occupy all cells from line 1 to 5*/
    margin-top: 1em;
    padding-top: .5em;
}
